header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  float: left;
  padding-left: 2em;
}

h4 {
  font-size: 30px;
  margin-left: 67em;
  float: left;
}

p {
  opacity: 0.8;
  background: white;
  padding: 1px;
  font-size: 3vw;
}

h2 {
  opacity: 0.8;
  background: white;
  padding: 1px;
  font-size: 2vw;
}

.search {
  width: 3em;
  height: 3em;
  background-color: white;
  border-color: white;
  border-width: 0em;
  margin-right: 5em;
  margin-top: 3em;
  float: right;
}

.categories {
  width: 100%;
  background-color: white;
  text-align: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories ul li {
  display: inline-block;
  list-style: none;
  line-height: 1vw;
  width: 11%;
}

.categories ul li a {
  display: block;
  text-decoration: none;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1e1e1e;
  padding: 3px 10px;
  width: 100%;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 5px;
}

.box {
  background-image: url(../breakfast.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box1 {
  background-image: url(../cake.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box2 {
  background-image: url(../cereal.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box3 {
  background-image: url(../cupcake.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box4 {
  background-image: url(../hamburger.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box5 {
  background-image: url(../pizza.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box6 {
  background-image: url(../pancake.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box7 {
  background-image: url(../saladBowl.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.box8 {
  background-image: url(../spaghetti.jpg);
  background-size: cover;
  margin: 15px;
  width: 85vw;
  height: 70vw;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

footer > p {
  margin-top: 0.5vw;
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  margin-bottom: -20px;
  text-align: center;
}

footer button {
  background-color: black;
}

footer p {
  font-style: italic;
}

footer nav {
  font-size: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 480px) {
  ul {
    line-height: 3vw;
  }
  ul li a {
    font-size: 3em;
  }
  p {
    font-size: 1vw;
  }
  h3 {
    font-size: 1vw;
  }
  .box {
    width: 22vw;
    height: 20vw;
  }
  .box1 {
    width: 22vw;
    height: 20vw;
  }
  .box2 {
    width: 22vw;
    height: 20vw;
  }
  .box3 {
    width: 22vw;
    height: 20vw;
  }
  .box4 {
    width: 22vw;
    height: 20vw;
  }
  .box5 {
    width: 22vw;
    height: 20vw;
  }
  .box6 {
    width: 22vw;
    height: 20vw;
  }
  .box7 {
    width: 22vw;
    height: 20vw;
  }
  .box8 {
    width: 22vw;
    height: 20vw;
  }
  .main {
    -ms-grid-columns: 35% 35% 35%;
        grid-template-columns: 35% 35% 35%;
    padding: 15px;
  }
  .search {
    min-width: none;
  }
}

@media screen and (min-width: 700px) {
  .main {
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    padding: 20px;
  }
  .search {
    min-width: 10%;
  }
}
/*# sourceMappingURL=styles.css.map */